<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="tawk_to">
  <description>PHP CodeSniffer configuration for tawk_to.</description>
  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal"/>
  <rule ref="vendor/drupal/coder/coder_sniffer/DrupalPractice"/>
  <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/TypeHints">
    <!-- Ignore checking if declare statement is directly after php tag as this conflicts with Drupal rules -->
    <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.IncorrectWhitespaceBetweenOpenTagAndDeclare"/>
    <!-- Ignore checking param annotations as hooks don't use them -->
    <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversableParameterTypeHintSpecification"/>
    <!-- Ignore checking return annotations as hooks don't use them -->
    <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversableReturnTypeHintSpecification"/>
    <!-- Ignore nested types checking as those cannot be reliably converted (eg string[] -> arraystring) -->
    <exclude name="SlevomatCodingStandard.TypeHints.TypeHintDeclaration.MissingTraversablePropertyTypeHintSpecification"/>
    <exclude name="SlevomatCodingStandard.TypeHints.DisallowArrayTypeHintSyntax.DisallowedArrayTypeHintSyntax"/>
    <!-- We want to allow "mixed" as doc type hint. -->
    <exclude name="SlevomatCodingStandard.TypeHints.DisallowMixedTypeHint.DisallowedMixedTypeHint"/>
  </rule>

  <rule ref="PEAR.Functions.ValidDefaultValue.NotAtEnd">
    <severity>0</severity>
  </rule>
</ruleset>
