parameters:
  # PHPStan cannot find files in this test directory automatically.
  scanDirectories:
    - ../../../core/tests/Drupal/Tests
  customRulesetUsed: true
  level: 6
  paths:
    - .
  fileExtensions:
    - inc
    - install
    - module
    - php
  # Many Drupal classes are iterable where we cannot specify a value type.
  checkMissingIterableValueType: false
  # PHPCS doesn't seem to be able to handle generics, so have to ignore those.
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static\\(\\)\\.$#"
